nav {
padding:64px 24px 0px 24px ;
flex:var(--sidebar-flex);
width: 33%;
height: 100vh;
position: fixed;
}

.nav-header {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 12px;
}

.site-header {
    font-weight: 500;
    font-size: 48px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 48px;
}

.site-header:visited {
    color: #0500FE;
}

.site-header:active {
    color:  #0500FE;
}

ul {
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}

li {
    color:  #0500FE;
}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: inline-block;
    }

    .nav-header {
        margin-top: 24px;
    }

    .design-dropdown-content {
        display: none;
    }

    .photo-dropdown-content {
        display: none;
    }

    .info-dropdown-content {
        display: none;
    }
}